version: '3.9'

services:
  backend:
    image: ghcr.io/lambdaclass/blockscout-private:9.2.2.commit.763c41da
    pull_policy: always
    restart: always
    platform: linux/amd64
    stop_grace_period: 5m
    container_name: 'backend'
    command: sh -c "bin/blockscout eval \"Elixir.Explorer.ReleaseTasks.create_and_migrate()\" && bin/blockscout start"
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    env_file:
      -  ../envs/common-blockscout.env
    volumes:
      - ./logs/:/app/logs/
      - ./dets/:/app/dets/
